body{
    margin: 0;
    padding: 0;
    background-color: #131417;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 200px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    display: block;
}
*{
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
}



aside{
    position: fixed;
    background-color: #1E1F26;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 16;
    min-height: 100%;
    box-shadow: 2px 0 5px rgb(0 0 0 / 20%);
}
.side_logo{
    margin-top: 15px;
}
.logo{
    font-size: 42px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.side_btn{
    margin-top: 15px;
}
.side_btn-title{
    color: #878787;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}
.side_btn-link{
    display: block;
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: #FF6046 2px solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-top: 5px;
}
.side_btn-link:hover{
    border: #07cae4 2px solid;
    transform: scale(1.2);
    background-color: #101010;
    transition: 2s;
}
.side_nav{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
.side_nav-link{
    font-size: 24px;
    width: fit-content;
    border-bottom: #FF6046 3px solid;
}

.side_nav-link:hover{
    border-bottom: #07cae4 3px solid;
    transition: 1s;
}
.side-img{
    width: 100%;
    border: #1E1F26 solid 4px;
    box-sizing: border-box;
}
.side_pic{
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;
}




nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 65px;
    padding: 1rem 0 1rem 1rem;
    box-sizing: border-box;
}
.nav_link{
    border: #FF6046 2px solid;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-right: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    padding: 10px 16px;
    text-transform: uppercase;
}
.nav_link:hover{
    border: #07cae4 2px solid;
    background-color: #101010;
    transition: 1s;
}


header{
    padding: 10px 15px 0 15px;
    height: 100vh;
}
header>h1{
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 3px;
}
header>p{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}


.content_Lina, .content_Pudge, .content_Luna{
    padding: 15px 50px 15px 50px;
    height: 100vh;
}
.block{
    display: flex;
    background-color: #1E1F26;
    border-radius: 10px;
    column-gap: 150px;
    padding: 50px 0px 50px 50px;
    justify-content: center;
}
.block_pic{
    padding: 5px 2px 5px 10px;
    align-self: center;
}
.skill{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.block_hero>p{
    max-width: 600px;
}
.cnt-img{
    border-radius: 5px;
}
.skill>img{
    max-width: 50px;
    max-height: 50px;
}


footer{
    height: 200px;
    background-color: #101010;
    position: relative;
    display: flex;
    padding: 15px 40px 15px 50px;
    justify-content: space-around;
    gap: 150px;

}
.footer_right>a{
    min-width: 190px;
}
.footer_right>p{
    text-align: center;
    color: #878787;
    min-width: 220px;
    max-width: 250px;
}
.footer_left{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 24px;
    font-weight: 550;
}
.footer_left>a:hover{
    color: #07cae4;
}

